*{
  margin:0;

  padding: 0;
}
body{
  background-color: #E9D8E4;
}
.navbar{
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}
.navbar__brand{
  width:100px;
}
.navbar_Zomato_Logo{
  width:1oo%;
}
.nav_item{
  background-image: linear-gradient(to right,#ff512 0%,#dd2476 51%,#ff512f 100%);
color:#fff;
border:none;
padding:12px;
border-radius: 6px;
font-weight: normal;
}
.nav_item:hover{
  border: 2px solid #FF6767;
  cursor:pointer;
}
@media(min-width:768px){
  .navbar{
    justify-content: space-between;
    padding: 10px 30px;
  }
}
@media(min-width:1024px)
{
  .navbar__brand{
    width:150px;
  }
  >nav_item{
    padding:20px;
    font-size: 20px;
  }
}
